@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.container__lot{
    padding: 32px;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.purple{
    color: #6415ff;
}

.purple__bold{
    color: #6415ff;
    font-weight: 700;
    letter-spacing: 2px;
}

h1{
    font-size: 48px;
    line-height: 1.25;
    color: #243e63;
    font-weight: 800;
}

h2{
    font-size: 48px;
    line-height: 1.25;
    color: #18202c;
}

h3{
    font-weight: 900;
    color: #243e63;
    font-size: 24px;
}


h4{
    font-size: 12px;
    color: #a0aec0;
}

h5{
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
}

.btn{
    background-color: #6415ff;
    border: none;
    border-radius: 50px;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn:hover{
    background-color: #5011cc;
}

/* NAVBAR */

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo:hover{
    cursor: pointer;
}

.logo__title{
    transition: all 300ms ease;
}

.logo__title:hover{
    color: #6415ff;
}

.logo__img{
    width: 40px;
    margin-right: 12px;
}

.navbar__links{
    display: flex;
    align-items: center;
}

.navbar__link{
    margin: 0 24px;
    padding: 0px 0px 4px;
    font-size: 14px;
    font-weight: 600;
    color: #243e63;
    position: relative;
    border-bottom: #6415ff;
}

.navbar__link:hover{
    color: #5011cc;
}

.navbar__link::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #6415ff;
    left: 0;
    bottom: -2px;
    transform: scale(1, 0);
    transition: all 300ms ease;
}

.navbar__link:hover::after{
    transform: scale(1, 1);
}

.nav

.navbar__link--login{
    margin: 0px 24px 0px 48px;
}

.navbar__link--sign-up{
    padding: 12px 32px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/* ABOUT */

.header{
    display: flex;
    flex-direction: column;
    width: 40%;
    
}

.row{
    display: flex;
    width: 100%;
    max-width: 1280px;
    padding: 96px 0;
    margin: 0 auto;
}

.btn__text{
    border: none;
    background-color: #6415ff;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    border-radius: 50px;
    width: 160px;
    cursor: pointer;
}


.about__img--wrapper{
    width: 60%;
}


.about__img{
    width: 100%;
    height: auto;
}

.about__trusted--img{
    width: 100%;
    margin-top: 16px;
    padding-right: 128px;
    opacity: calc(50%);
}

.trusted__customers{
    margin-top: 80px;
}

.header__para{
    margin: 32px 0;
    font-size: 18px;
    color: #243e63;
    font-weight: 400;
}

.input__email{
    border: none;
    margin-left: 24px;
    font-family:'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #243e63;
    opacity: calc(70%);
}

.form__wrapper{
    border: 2px solid lightgray;
    border-radius: 50px;
    width: 100%;
    max-width: 448px;
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
    transition: all 300ms ease;
}

.form__wrapper:hover{
    border: 2px solid #8591a3;
    border-radius: 50px;
    width: 100%;
    max-width: 448px;
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
}

.form__wrapper:focus-within{
    border: 2px solid #6415ff;
    border-radius: 50px;
    width: 100%;
    max-width: 448px;
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
}

.input__email{
    color: black;
    border: none;
    outline: none;
}

.form__btn{
    color: white;
    font-size: 16px;
    font-family:'Inter', sans-serif;
    font-weight: 700;
    border: none;
    padding: 14px 36px;
    margin-right: 8px;
    max-width: 100%;   
}

/* FEATURES */

.features__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.features__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.features__info--wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 24px;
}

.features__wrap{
    max-width: calc(100%3);
    display: flex;
    align-items: flex-start;
    padding: 32px 8px;
    margin: 0 16px;
}

.features__para{
    font-size: 18px;
    color: #7c8ba1;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-top: 16px;
}

.feature__para{
    text-align: left;
    color: #7c8ba1;
    font-size: 16px;
    margin: 12px 0 0 16px;
    width: 100%;
    max-width: 200px;
    line-height: 2;
}

.feature__title{
    font-size: 24px;
    color: #243e63;
    margin-left: 14px;
}

.feature__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.feature__img{
    border: 1px solid #e5e7eb;
    border-radius: 50px;
    padding: 20px;
}

/* DESIGN */

.design__wrapper{
    display: flex;
    width: 100%;
}

.design__img--wrapper{
    width: 55%;
}

.design__img{
    width: 100%;
    border: 1px solid #e5e7eb;
}

.design__text{
    width: 45%;
    margin-right: 64px;
}

.design__para{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #7c8ba1;
    margin: 16px 0 0;
}

.learn__btn{
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 12px 32px;
    margin-top: 32px;
}

/* START */

.steps__heading{
    font-weight: 700;
}

.start__img--wrapper{
    width: 50%;
    height: 80%;
}

.start__img{
    width: 100%;
    padding: 26px 0;
}

.start__info{
    width: 50%;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
}

.point__number{
    font-size: 36px;
    font-weight: 600;
    color: #cbd5e0;
}

.info__points{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 32px;
}

.info__point{
   display: flex;
   align-items: flex-start;
   width: 65%;
}

.point__detail{
   margin-left: 24px;
}

.point__one{
    margin-left: 30px;
}

.start__para{
    font-size: 14px;
    color: #718096;
    padding: 12px 0;
    line-height: 2;
    text-align: left;
}

.para__one{
    width: 310px;
}


/* VALUES */

.values__row{
    display: flex;
}

.values__img--wrapper{
    width: 50%;
    display: flex;
}

.values__img{
    width: 100%;
}

.values__title{
    margin-top: 16px;
    width: 80%;
}

.values__description{
    width: 50%;
}

.values__sub--heading{
    display: flex;
}

.values__sub--paras{
    display: flex;
    margin-top: 32px;
}

.sub__title{
    margin-left: 12px;
    display: flex;
    align-items: center
}

.sub__para--one{
    margin-right: 32px;
    width: 80%;
}

.values__para{
    font-size: 18px;
    color: #7c8ba1;
    margin-top: 32px;
}

.sub__description{
    font-size: 16px;
    color: #7c8ba1;
    margin-top: 16px;
    width: 80%;
    line-height: 1.625;
}

.learn__btn{
    margin-top: 48px;
}

.dollar{
    background-color: #9ae6b4;
    padding: 8px;
    border-radius: 50px;
    display: flex;
}

.briefcase{
    background-color: #FEB2B2;
    padding: 8px;
    border-radius: 50px;
    display: flex;
}

svg{
    opacity: 60%;
    width: 20px;
    height: 20px;
}

/* PRICING */

.pricing__row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__title{
    font-size: 48px;
}

.pricing__description{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.pricing__para{
    margin-top: 16px;
    color: #7c8ba1;
    font-size: 18px;
    width: 100%;
}

.pricing__wrapper{
    width: 55%;
}

.pricing__boxes{
    display: flex;
    width: 100%;
    margin-top: 56px;
    justify-content: space-between;
}

.pricing__big--box{
    width: 320px;
    height: 600px;
    border: 1px #e5e7eb solid;
    border-radius: 10px;
    width: 30%;
    margin: 8px 32px 0 0;
    text-align: center;
}

.middle__big--box{
    background-image: linear-gradient(135deg, #4c51bf , #667eea );
}


.pricing__middle--box{
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-bottom: 2px solid #e5e7eb;
}

.business__box--mid{
    border-bottom: 2px solid rgba(102, 126, 238, 1);
}

.business__pricing{
    border-bottom: 2px solid rgba(102, 126, 238, 1);
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}

.pricing__bottom--box{
    padding: 32px 64px;
}

.box__title{
    font-size: 20px;
    font-weight: 700;
    color: #1a202c;
}

.personal__pricing{
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    border-bottom: 2px solid #e5e7eb;
}

.pricing{
    font-size: 48px;
    font-weight: 700;
}

.pricing__subtitle{
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.box__title--white{
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.white__pricing--title{
    font-size: 20x;
    color: white;
    font-weight: 700;
}

.white__pricing{
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.monthly{
    font-size: 16px;
    font-weight: 700;
    color: #a0aec0;
    letter-spacing: 2px;
}

.white__monthly{
    font-size: 16px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
}


.grey{
    margin-top: 20px;
    color: #718096;
    font-weight: 500;
}

.white{
    margin-top: 20px;
    font-weight: 500;
    color: white;
}

.buy__now--btn{
    font-size: 14px;
    font-weight: 700;
    padding: 16px 60px;
    color: white;
}

.green__btn{
   background-image: linear-gradient(115deg, #38b2ac, #81e6d9);
   border: none;
   border-radius: 50px;
   transition: all 300ms ease;
}

.green__btn:hover{
   background-image: linear-gradient(115deg, #38b2ac, #81e6d9);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transform: translate(1px, -1px);
   box-shadow: 0 20px 25px -5px rgb(219, 219, 219);
}

.white__btn{
   background-color: #f7fafc;
   color: #6415ff;
   border: none;
   border-radius: 50px;
   transition: all 300ms ease;
}

.white__btn:hover{
    background-color: #f7fafc;
    color: rgb(226, 232, 240,);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transform: translate(1px, -1px);
    box-shadow: 0 20px 25px -5px rgb(0, 0, 0, 0.1);
 }
 
.salmon__btn{
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgba(254, 178, 178) 100%);
    border: none;
    border-radius: 50px;
    transition: all 300ms ease;
 }
 
 .salmon__btn:hover{
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgba(254, 178, 178) 100%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transform: translate(1px, -1px);
    box-shadow: 0 20px 25px -5px rgb(219, 219, 219);
 }

.green__gradient{
    background-image: linear-gradient(115deg, #38b2ac, #81e6d9);
    height: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}

.salmon__gradient{
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgba(254, 178, 178) 100%);
    height: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}

/* TESTIMONIALS */

.row__testimonials{
    display: flex;
    width: 100%;
}

.testimonials__img--wrapper{
    width: 50%;
    display: flex;
}

.testimonials__img{
    width: 100%;
}

.testimonials__description{
    width: 50%;
    padding-left: 64px;
}

.testimonials__review--title{
    font-size: 20px;
    color: #243e63;
    margin-top: 16px;
}

.testimonials__header{
    margin-top: 16px;
}

.testimonials__sub--para{
    margin-top: 24px;
    font-size: 18px;
    color: #7c8ba1;
}

.testimonials__review--para{
    font-size: 16px;
    font-weight: 500;
    color: #4a5568;
    margin: 16px 0px 40px 0;
}

.testimonials__review--wrapper{
    margin-top: 64px;
}

.testimonials__review--para{
    font-size: 16px;
    margin: 16px 0 40px 0;
}

i{
    color: #fabf2a;
}

.testimonials__person{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrows{
    display: flex;
    align-items: center;
}

.line__middle{
    border-left: solid rgb(237, 242, 247) 1px;
    height: 28px;
}

.arrow__wrapper{
    display: flex;
    background-color: rgb(237, 242, 247);
    padding: 16px;
    margin: 0 12px;
    border-radius: 50px;
    transition: all 300ms ease;
    border: white 3px solid;
}

.arrow__wrapper:active{
    display: flex;
    background-color: rgb(237, 242, 247);
    padding: 16px;
    margin: 0 12px;
    border-radius: 50px;
    border: lightskyblue 3px solid;
}

.left__arrow, .right__arrow{
    color: #6415ff;
    width: 16px;
    height: 16px;
    stroke-width: 3;
}

.arrow__wrapper:hover{
    background-color: rgb(226, 232, 240);
    cursor: pointer;
}

.person__location{
    color: #7c8ba1;
    font-weight: 600;
}

/* FAQS */

.row__faqs{
    display: flex;
    justify-content: center;
    text-align: center;
}

.faqs__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs__header{
    margin-bottom: 16px;
}

.faqs__para{
    font-size: 18px;
    font-weight: 600;
    color: #7c8ba1;
    margin-top: 16px;
    width: 45%;
    text-align: center;
    line-height: 2.125;
}

.collapsible{
    width: 70%;
    overflow: hidden;
    margin-top: 20px;
}

.collapsible input{
    display: none;
}


.collapsible label{
    position: relative;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    padding: 16px 40px;
    background-color: rgb(237, 242, 247);
    color: rgb(45, 55, 72);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 16px 40px;
    border-radius: 10px;
    z-index: 1;
}

.collapsible label:after{
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    /* background: url(arrow.svg) no-repeat 0 0; */
    transition: all 300ms ease;
}

.collapsible__text{
    max-height: 1px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    font-size: 16px;
    color: #243e63;
    line-height: 1.625;
    position: relative;
    text-align: left;
    /* top: -100%; */
    /* opacity: .5; */
    transition: all 300ms ease-in-out;
    top: 0;
    background-color: rgb(237, 242, 247);
}

.collapsible input:checked ~ .collapsible__text{
    max-height: 300px;
    padding: 16px 40px;
    background-color: rgb(237, 242, 247);
    border-radius:0 0 10px 10px ;
}

.collapsible input:checked ~ label{
    border-radius: 10px 10px 0 0;
}

.collapsible input ~ label svg{
    transition: all 300ms ease-in-out;
}

.collapsible input:checked ~ label svg{
    transform: rotate(180deg);
}

label svg{
    color: rgb(45, 55, 72);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

label{
    transition: all 300ms ease-in-out;
}

.c__text{
    background-color: #edf2f7;
    border-radius: 10px;
}